#tblHigherOctave{
	font-weight: 300;
}

#tblNormalOctave{
	font-weight: 400;
}

#tblLowerOctave{
	font-weight: 700;
}	

.clsHigherNote{
	color: #0d561a;
}

.clsNormalNote{
	color: #bf2424;
}

.clsLowerNote{
	color: #2d22a5;
}

#tblHigherOctave td{
	color: #0d561a;
}

#tblNormalOctave td{
	color: #bf2424;
}

#tblLowerOctave td{
	color: #2d22a5;
}

.clsOctaves{
	margin-left: auto; 
	margin-right: auto;
	font-size: 50px;
	cursor: pointer;
}

td{
	font-family: BioRhyme;
}

td:hover {
	transform: scale(1.3, 1.3);
    opacity: 1;
    /*border: 1.5px solid #eae7b6;*/
}

#spanPitchSelector{
	margin-left: 7.5%;	
}

.clsNonNotesObjs{
	margin-left: 5%;
}

#btnTranspose{
	margin-left: 25%;
	width: 9.8%;
	height: 5%;
}

#output{
	margin-left: 10%;
}

.clsOutputNotes{
	font-family: BioRhyme;
	font-size: 40px;
}

.brDiv{
	width: 100%;
    padding-bottom: 2%;
}

textarea{
	resize: none;
}

body{
	/*background-color: #eaf7f6;*/
	/*opacity: 0.8;*/
	background-image : no-repeat;
	 background-size:     cover;  
}